[package]
name = "ofborg"
version = "0.1.9"
authors = ["Graham Christensen <graham@grahamc.com>"]
build = "build.rs"
edition = "2018"

[dependencies]
either = "1.4.0"
md5 = "0.3.5"
uuid = { version = "0.4", features = ["v4"] }
fs2 = "0.4.2"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
tempfile = "2.2.0"
tracing = "0.1.13"
tracing-subscriber = { version = "0.2.5", features = ["json"] }
hubcaps = { git = "https://github.com/grahamc/hubcaps.git" }
#hubcaps = { path = "../../../grahamc/hubcaps/" } # for testing patches
hyper = "0.10.*"
hyper-native-tls = "0.3.0"
lru-cache = "0.1.1"
nom = "4.0.0-beta3"
sys-info = "0.5.6"
chrono = "0.4.6"
separator = "0.4.1"

async-std = "1.5.0"
lapin = "1.0.0-rc6"
